/* BODY */
html, body {
  font-size: 18px;
  font-family: "VT323";
  color: white;
  text-shadow: 0 3px 0 rgba(0,0,0,.4);
}

#container {
  background-color: black;
  background-size: 100%;
  width: 400px;
  height: 570px;
  border: 12px solid black;
  position: relative;
  cursor: crosshair;
  margin: 0 auto;
}

#gamescreen {
  position: relative;
  width: 100%;
  height: 100%;
}

.player1score, .player2score, #paddle, #ball, .player1lives, .player2lives, #ball, #menu, #startMenu, .brick, #gameOver {
  position: absolute;
}

/* GAME UI */
.player1score, .player2score {
  text-align: center;
  padding: 5px;
  width: 386px;
  border: 2px solid white;
}

.player2score {
  bottom: 2px;
}

#menu {
  z-index: 4;
  padding-left: 4%;
  padding-top: 45%;
  text-align: center;
  background-color: rgba(0,0,0,.7);
  display: none;
  width: 96%;
  height: 68.5%;
}

#startMenu, #gameOver {
  z-index: 3;
  padding-left: 4%;
  padding-top: 50%;
  background-color: rgba(0,0,0,.7);
  text-align: center;
  width: 96%;
  height: 65.5%;
  display: none;
}

h2 {
  letter-spacing: 2px;
}

h2:hover {
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
}

#menu p {
  padding-top: 100px;
}

/* GAME OBJECTS */
.brick {
  box-shadow: 4px 5px 0 rgba(0,0,0,.15);
}

#paddle, #ball {
  box-shadow: 7px 7px 0 rgba(0,0,0,.15);
}

#paddle {
  border-radius: 2px;
  width: 60px;
  height: 5px;
  left: 180px;
  background-color: white;
}

#ball {
  border-radius: 100%;
  background-color: white;
  z-index: 2;
}

