/* BODY */
html, body {
  font-size: 18px;
  font-family: "VT323";
  color: white;
  text-shadow: 0 3px 0 rgba(0,0,0,.4);
}

#container {
  background: linear-gradient(#ff0084, #33001b);
  width: 400px;
  height: 570px;
  border: 12px solid #33001b;
  position: relative;
  cursor: crosshair;
  margin: 0 auto;
}

#gamescreen {
  position: relative;
  width: 100%;
  height: 100%;
}

.player1score, .player2score, #message, #paddle, #ball, .player1lives, .player2lives, #ball, #menu, #startMenu, .brick {
  position: absolute;
}

/* GAME UI */
.player1score, .player2score {
  text-align: center;
  padding: 5px;
  width: 410px;
}

.player2score {
  bottom: 2px;

}

#menu {
  z-index: 2;
  padding-left: 4%;
  padding-top: 35%;
  text-align: center;
  background-color: rgba(0,0,0,.5);
  display: none;
  width: 96%;
  height: 75.5%;
}

#startMenu {
  z-index: 1;
  padding-left: 4%;
  padding-top: 50%;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  width: 96%;
  height: 65.5%;
  display: none;
}

#menu h2 {
  letter-spacing: 2px;
}

#menu h2:hover {
  -webkit-transform: scale(1.4);
}

#menu p {
  padding-top: 100px;
}

/* GAME OBJECTS */
.brick {
  box-shadow: 4px 5px 0 rgba(0,0,0,.15);
}

#paddle, #ball {
  box-shadow: 7px 7px 0 rgba(0,0,0,.15);
}

#paddle {
  border-radius: 2px;
  width: 60px;
  height: 5px;
  left: 180px;
  background-color: white;
}

.player1paddle {
  top: 200px;
}

.player2paddle {
  bottom: 200px;
}

#ball {
  border-radius: 100%;
  background-color: white;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 20px;
  z-index: 3;
}

