/* BODY */
html, body {
  font-size: 18px;
  font-family: "VT323";
  color: white;
  text-shadow: 0 3px 0 rgba(0,0,0,.4);
}

#container {
  background: linear-gradient(#ff0084, #33001b);
  width: 400px;
  height: 570px;
  border: 12px solid #33001b;
  position: relative;
  cursor: crosshair;
}

#gamescreen {
  position: relative;
  width: 100%;
  height: 100%;
}

#player1ui, #player2ui, #message, #paddle, #ball, .player1lives, .player2lives, #ball, #menu, .player1brick, .player2brick, #startMenu {
  position: absolute;
}

/* GAME UI */
#player1ui, #player2ui {
  width: 410px;
}

.player1score, .player1lives, .player2score, .player2lives {
  display: inline-block;
  padding: 5px;
}

.player1lives {
  right: 12px;
}

#player2ui {
  bottom: 2px;
}

.player2lives {
  right: 12px;
}

#menu {
  z-index: 2;
  padding-left: 4%;
  padding-top: 35%;
  text-align: center;
  background-color: rgba(0,0,0,.5);
  display: none;
  width: 96%;
  height: 75.5%;
}

#startMenu {
  z-index: 1;
  padding-left: 4%;
  padding-top: 50%;
  background-color: rgba(0,0,0,.5);
  text-align: center;
  width: 96%;
  height: 65.5%;
  display: none;
}

#menu h2 {
  letter-spacing: 2px;
}

#menu h2:hover {
  -webkit-transform: scale(1.4);
}

#menu p {
  padding-top: 100px;
}

/* GAME OBJECTS */
#paddle, #ball, .player1brick, .player2brick {
  box-shadow: 7px 7px 0 rgba(0,0,0,.15);
}

.player1brick {
  width: 30px;
  height: 10px;
  background-color: yellow;
}

.player2brick {
  width: 30px;
  height: 10px;
  left: 20%;
  background-color: green;
}

#paddle {
  border-radius: 2px;
  width: 60px;
  height: 5px;
  left: 180px;
  background-color: white;
}

.player1paddle {
  top: 200px;
}

.player2paddle {
  bottom: 200px;
}

#ball {
  border-radius: 100%;
  background-color: white;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 20px;
}

